INSTAGRAM_USERNAME=your_instagram_username
INSTAGRAM_PASSWORD=your_instagram_password
INSTAGRAM_SESSION_ID=your_instagram_session_id_cookie

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id_or_channel_id

DOWNLOAD_PATH=downloads/
LOG_LEVEL=INFO

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=reelgram

FORCE_SUB_CHANNEL_ID=-1001555203714
FORCE_SUB_INVITE_LINK=https://t.me/sd_bots
DEVELOPER_USERNAME=MrTG_Coder

OWNER_ID=your_telegram_user_id
